body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  background-color: rgb(243, 229, 215);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 736px;
  height: 1708px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
  padding: 40px;
  margin-bottom: 124px;
}
