@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

main {
  background-color: rgb(243, 229, 215);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 736px;
  height: 1708px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
  padding: 40px;
  margin: 123px 0 124px 0;

  h1,
  h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
  }

  h1 {
    font-size: 40px;
    color: rgba(49, 46, 44, 1);
    margin: 40px 0 24px 0;
  }
  p {
    color: rgba(95, 86, 77, 1);
    font-size: 16px;
    font-weight: 400;
  }

  div.list {
    margin-left: 28px;
    p {
      font-size: 20px;
      color: rgba(122, 40, 78, 1);
      font-weight: 600;
      margin: 60px 0 16px 0;
    }
    li {
      color: rgba(95, 86, 77, 1);
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      span {
        font-weight: 700;
        display: inline-block;
        margin-left: 28px;
      }
    }
    li::marker {
      color: rgb(122 40 78);
    }
  }

  div.list_two {
    h2 {
      font-weight: 400;
      color: rgba(133, 70, 50, 1);
      font-size: 28px;
      margin: 60px 0 24px 0;
    }

    li {
      span {
        color: rgba(95, 86, 77, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        margin-left: 16px;
      }
    }
    li::marker {
      color: rgba(133, 70, 50, 1);
    }
  }

  div.text {
    h2 {
      font-size: 28px;
      font-weight: 400;
      color: rgba(133, 70, 50, 1);
      margin-bottom: 24px;
    }
    li {
      p {
        color: rgba(95, 86, 77, 1);
        font-weight: 400;
        line-height: 150%;
        margin-left: 16px;
        margin-bottom: 8px;

        span {
          font-weight: 700;
        }
      }
    }

    li::marker {
      color: rgba(133, 70, 50, 1);
      font-weight: 700;
    }
  }

  div.line {
    width: 656px;
    height: 0;
    border: 1px solid rgba(227, 221, 215, 1);
  }

  #line_one {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
